#clientes_container li{
    gap: 6%;
    min-width: 150px;
    max-width: 350px;
    width: calc(90% / 2);
}

#clientes_container li > svg{
    width: 30%;
    rotate: 180deg;
}

.estrelas{
    display: flex;
    width: 40%;
}

#clientes_container h3{
    font-size: 2rem;
}